{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">

	<h1>
		Projeto
	</h1>

	<div class="row">
		<div class="col-sm-4">

			<div class="card shadow my-4">
				<div class="card-body">
					<form id="form">
						<div class="form-group">
							<label for="data">Data</label>
							<input id="data" name="data" class="form-control" type="date" value="{{ hoje }}" />
						</div>

						<button type="submit" class="btn btn-primary">Listar</button>
					</form>
				</div>
			</div>

		</div>
	</div>

	<div class="card shadow my-4">
		<div class="card-body" id="div-grafico"></div>
	</div>

</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";

	$("#form").validate({
		rules: {
			data: { required: true }
		},
		submitHandler: function () {
			atualizarDados();
		}
	});

	async function atualizarDados() {
		waitSwal();

		try {
			let response = await fetch("/obterDados");

			if (response.ok) {
				Swal.close();

				let dados = await response.json();
				if (!dados || !dados.length) {
					Swal.fire("Erro", "Sem dados na data especificada!", "error");
					return;
				}

				// Filtrar apenas os dados de temperatura
				let dadosTemperatura = dados.filter(d => d.temperatura !== undefined);

				let labels = [];
				let data = [];

				for (let i = 0; i < dadosTemperatura.length; i++) {
					let dataHora = new Date(dadosTemperatura[i].data);
					labels.push(dataHora.toLocaleTimeString("pt-BR", { hour: '2-digit', minute: '2-digit' }));
					data.push(dadosTemperatura[i].temperatura);
				}

				let div = document.getElementById("div-grafico");
				div.innerHTML = '<canvas id="grafico-barras" style="height: 50vh;"></canvas>';

				new Chart(document.getElementById("grafico-barras"), {
					type: "bar",
					data: {
						labels: labels,
						datasets: [{
							label: "Temperatura (°C)",
							backgroundColor: "#4e73df",
							hoverBackgroundColor: "#2e59d9",
							borderColor: "#4e73df",
							data: data,
						}],
					},
					options: {
						maintainAspectRatio: false,
						layout: {
							padding: { left: 10, right: 25, top: 25, bottom: 0 }
						},
						scales: {
							x: {
								ticks: { maxTicksLimit: 10 },
								maxBarThickness: 25
							},
							y: {
								ticks: { min: 0, maxTicksLimit: 10, padding: 10 },
								gridLines: {
									color: "rgb(234, 236, 244)",
									zeroLineColor: "rgb(234, 236, 244)",
									drawBorder: false,
									borderDash: [2],
									zeroLineBorderDash: [2]
								}
							}
						},
						plugins: {
							legend: { display: false },
							tooltip: {
								backgroundColor: "rgb(255,255,255)",
								bodyColor: "#858796",
								borderColor: '#dddfeb',
								borderWidth: 1,
								padding: 15,
								displayColors: false,
								caretPadding: 10
							}
						}
					}
				});

			} else {
				await exibirErro(response);
			}
		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}
	}

	atualizarDados();
</script>


