{% extends 'layout.html' %} {% block head %}

<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- Babylon.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
<script src="https://assets.babylonjs.com/generated/Assets.js"></script>
<script src="https://cdn.babylonjs.com/recast.js"></script>
<script src="https://cdn.babylonjs.com/ammo.js"></script>
<script src="https://cdn.babylonjs.com/havok/HavokPhysics_umd.js"></script>
<script src="https://cdn.babylonjs.com/cannon.js"></script>
<script src="https://cdn.babylonjs.com/Oimo.js"></script>
<script src="https://cdn.babylonjs.com/earcut.min.js"></script>
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
<script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
<script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.js"></script>
<script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
<script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
<script src="https://cdn.babylonjs.com/addons/babylonjs.addons.min.js"></script>
<script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>

<style type="text/css">
  #canvasZone {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 400px;
    height: 60vh;
  }

  #renderCanvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    user-select: none;
    touch-action: none;
  }

  #header {
    background-color: var(--accent-color-2);
    background-image: url(static/img/sala.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 10px;
  }

  #typing-text {
    white-space: pre-line;
    min-height: 144px;
    display: inline-block;
    line-height: 48px;
  }

  #header .protecao {
    background-image: url(static/img/moire.png);
    background-repeat: repeat;
    padding-top: 220px;
    color: #fff;
  }

  #header h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0px;
    text-align: left;
  }

  #header3 {
    background-color: var(--accent-color-2);
    color: var(--primary-color);
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 800px;
    width: 100%;
    border-radius: 32px;
    margin-bottom: 75px;
    margin-top: 75px;
  }

  #header3 p {
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 10px;
  }

  #canvasZone {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  #header4 h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0px;
    text-align: right;
  }

  .btn-primary {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: var(--primary-color);
    filter: drop-shadow(0 0 5px var(--primary-color));
    font-size: 2rem;
    align-items: right;
  }

  .btn-primary:hover {
    background-color: var(--accent-color-3);
    border-color: var(--accent-color-3);
    color: var(--primary-color);
    filter: drop-shadow(0 0 10px var(--accent-color-2));
  }

</style>

{% endblock %} {% block body %}

<div class="container-fluid">

  <div class="container-fluid" id="header">

    <div class="protecao px-4 mx-n3 pb-4">
      <h1 class="display-4" id="header1">
        <span id="typing-text"></span>
      </h1>
    </div>

  </div>

  <div class="container-fluid px-4" id="header3" >
    <p class="display-4 my-4">.simples   .rápido   .automático</p>
  </div>

  <div id="canvasZone" data-aos="zoom-in" data-aos-duration="1500"><canvas id="renderCanvas"></canvas></div>
  <div class="text-center my-2">

    <div class="mb-2">
      <b>Última atualização:</b>
      <span id="ultimaAtualizacao">-</span>
    </div>
    <label for="cbAleatorio">
      <input type="checkbox" id="cbAleatorio" onchange="aleatorio = this.checked;" />
      Simular dados aleatórios
    </label>

  </div>

  <div class="my-5" id="header4">

    <h1 class="text-right mb-4">
      <strong>ANÁLISES EM TEMPO REAL <br />
      COM UM DIGITAL TWIN </strong>
    </h1>
    <div class="col-auto d-flex justify-content-end">
      <a href="{{ url_for('dashboard') }}">
        <button type="button" class="btn btn-primary">DASHBOARD</button>
      </a>
    </div>
    
  </div>

</div>



 <!-- DIGITAL TWIN -->


  <script type="text/javascript">
    "use strict";

    // Typing effect for header1
    const text =
      "CONTROLE DE PRESENÇA\nE FLUXO DE AULAS\nCOMO NUNCA ANTES VISTO";
    const typingText = document.getElementById("typing-text");
    let charIndex = 0;

    function typeText() {
      if (charIndex < text.length) {
        typingText.innerHTML += text.charAt(charIndex);
        charIndex++;
        setTimeout(typeText, 50);
      } else {
        setTimeout(function () {
          typingText.innerHTML = "";
          charIndex = 0;
          typeText();
        }, 2500);
      }
    }

    // Start typing effect when page loads
    window.addEventListener("load", typeText);

    let canvas = document.getElementById("renderCanvas");
    let engine = null;
    let scene = null;
    let objetos = [];
    let aleatorio = false;

    async function createScene() {
      // https://doc.babylonjs.com/toolsAndResources/inspector
      // https://doc.babylonjs.com/features/featuresDeepDive/importers/glTF
      // https://doc.babylonjs.com/features/featuresDeepDive/mesh/transforms/center_origin/position
      // https://playground.babylonjs.com/#WGZLGJ#11018

      scene = new BABYLON.Scene(engine);
      // Create a default skybox with an environment.
      const hdrTexture = BABYLON.CubeTexture.CreateFromPrefilteredData(
        "/static/glb/environment.dds",
        scene
      );
      const currentSkybox = scene.createDefaultSkybox(hdrTexture, true);

      let idsAdicionados = new Set();

      await BABYLON.AppendSceneAsync("/static/glb/projetoInterSala.glb", scene);

      for (let i = 1; i <= 8; i++) {
        await BABYLON.AppendSceneAsync(`/static/glb/projetoInterPessoa${i}.glb`, scene);
        let nodes = scene.getNodes();
        for (let i = nodes.length - 1; i >= 0; i--) {
          const node = nodes[i];
          if (node.id == "__root__" && !idsAdicionados.has(node.uniqueId)) {
            objetos.push(node);
            idsAdicionados.add(node.uniqueId);
            break;
          }
        }
      }

      /* 
      await BABYLON.AppendSceneAsync("/static/glb/plantinha_3d.glb", scene);
      let nodes = scene.getNodes();
      for (let i = nodes.length - 1; i >= 0; i--) {
        const node = nodes[i];
        if (node.id == "__root__" && !idsAdicionados.has(node.uniqueId)) {
          objeto1 = node;
          idsAdicionados.add(node.uniqueId);
          break;
        }
      }

      await BABYLON.AppendSceneAsync("/static/glb/plantinha_3d.glb", scene);
      nodes = scene.getNodes();
      for (let i = nodes.length - 1; i >= 0; i--) {
        const node = nodes[i];
        if (node.id == "__root__" && !idsAdicionados.has(node.uniqueId)) {
          objeto2 = node;
          objeto2.translate(
            new BABYLON.Vector3(1, 0, 0),
            1,
            BABYLON.Space.GLOBAL
          );
          objeto2.setEnabled(false);
          idsAdicionados.add(node.uniqueId);
          break;
        }
      }
      */

      scene.createDefaultCameraOrLight(true, true, true);
      const camera = scene.activeCamera;
      //camera.alpha = 3.8014; // Math.PI / 2;
      //camera.beta = 1.2256;
      camera.alpha = 3.6949941371093122;
      camera.beta = 1.4214854652301074;
      camera.radius = 100;
    }

    async function atualizarDados() {
      try {
        const resposta = await fetch("/obterDadosTempoReal");
        const dados = await resposta.json();
        if (!aleatorio && dados && dados.length === 8) {
          for (let i = 0; i < 8; i++) {
            objetos[i].setEnabled(dados[i].ocupado);
          }
        }

        const ultimaAtualizacao = document.getElementById("ultimaAtualizacao");
        ultimaAtualizacao.textContent = new Date().toLocaleString();
      } catch (ex) {
        // Apenas ignora...
      }

      setTimeout(atualizarDados, 1000);
    }

    async function init() {
      try {
        engine = new BABYLON.Engine(canvas, true, {
          preserveDrawingBuffer: false,
          stencil: false,
          disableWebGL2Support: false,
        });
        await createScene();

        for (let i = 0; i < objetos.length; i++)
          objetos[i].setEnabled(false);

        atualizarDados();
      } catch (ex) {
        alert("Erro ao criar a engine: " + ex.message || ex.toString());
      }

      window.addEventListener("resize", function () {
        engine.resize();
      });

      //scene.debugLayer.show();

      let contador = 0;
      engine.runRenderLoop(function () {
        if (aleatorio) {
          contador++;
          if (contador >= 90) {
            contador = 0;
            for (let i = 0; i < objetos.length; i++) {
              if (Math.random() < 0.5) {
                objetos[i].setEnabled(!objetos[i].isEnabled());
              }
            }
          }
        }

        if (scene && scene.activeCamera) {
          scene.render();
        }
      });
    }

    init();
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  {% endblock %}
