{% extends 'layout.html' %} {% block head %}

<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
<!-- Babylon.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
<script src="https://assets.babylonjs.com/generated/Assets.js"></script>
<script src="https://cdn.babylonjs.com/recast.js"></script>
<script src="https://cdn.babylonjs.com/ammo.js"></script>
<script src="https://cdn.babylonjs.com/havok/HavokPhysics_umd.js"></script>
<script src="https://cdn.babylonjs.com/cannon.js"></script>
<script src="https://cdn.babylonjs.com/Oimo.js"></script>
<script src="https://cdn.babylonjs.com/earcut.min.js"></script>
<script src="https://cdn.babylonjs.com/babylon.js"></script>
<script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
<script src="https://cdn.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
<script src="https://cdn.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.js"></script>
<script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
<script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
<script src="https://cdn.babylonjs.com/addons/babylonjs.addons.min.js"></script>
<script src="https://cdn.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>

<style type="text/css">
  #canvasZone {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 400px;
    height: 60vh;
  }

  #renderCanvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    user-select: none;
    touch-action: none;
  }

  #header {
    background-color: var(--accent-color-2);
    background-image: url("static/img/mlknoPC.png");
    background-position: cover;
    background-repeat: no-repeat;
    color: var(--primary-color);
    margin-bottom: 10px;
    padding-top: 250px;
  }

  #header h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 0px;
    text-align: left;
  }

  #header2 h1 {
      color: var(--text-color);
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 700;
      margin-top: 0px;
      text-align: right;
    
  }

  #header3 {
    background-color: var(--accent-color-2);
    color: var(--primary-color);
    margin-bottom: 10px;
    padding-top: 50px;
  }

  #header3 p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
  }

  #header4 h1 {

      color: var(--text-color);
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 700;
      margin-top: 0px;
      text-align: right;
    
  }

  .btn-primary {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: var(--primary-color);
    filter: drop-shadow(0 0 5px var(--primary-color));
    font-size: 2rem;
  }

  .btn-primary:hover {
    background-color: var(--accent-color-3);
    border-color: var(--accent-color-3);
    color: var(--primary-color);
    filter: drop-shadow(0 0 10px var(--accent-color-2));
  }
</style>

{% endblock %} {% block body %}

<div class="container-fluid">
  <div class="container-fluid px-4" id="header">
    <h1 class="display-4 my-4">
      CONTROLE DE PRESENÇA <br />
      E FLUXO DE AULAS <br />
      COMO NUNCA ANTES VISTO
    </h1>
  </div>

  <div class="row" id="header2">
    <h1 class="text-right mb-4">
      MONITORAMENTO FÁCIL, <br />
      RÁPIDO E <br />
      AUTOMATIZADO
    </h1>
  </div>

  <div class="container-fluid px-4" id="header3">
    <p class="display-4 my-4">
      .valor1  .valor2  .valor3
    </p>
  </div>

  <div id="canvasZone"><canvas id="renderCanvas"></canvas></div>

  <div class="row" id="header4">
    <h1 class="text-right mb-4">
      ANÁLISES EM TEMPO REAL <br />
      E COM UM DIGITAL TWIN
    </h1>
  </div>

  <div class="row align-items-center my-4">
    <div class="col-auto">
      <span style="font-size: 1.3rem; font-weight: 500;">Para a análise em tempo real <br> clique aqui</span>
    </div>
    <div class="col-auto">
      <a href="{{ url_for('dashboard') }}">
      <button type="button" class="btn btn-primary">ANÁLISE</button>
      </a>
    </div>
  </div>

<script type="text/javascript">
  "use strict";

  let canvas = document.getElementById("renderCanvas");
  let engine = null;
  let scene = null;
  let objeto1 = null;
  let objeto2 = null;

  async function createScene() {
    // https://doc.babylonjs.com/toolsAndResources/inspector
    // https://doc.babylonjs.com/features/featuresDeepDive/importers/glTF
    // https://doc.babylonjs.com/features/featuresDeepDive/mesh/transforms/center_origin/position
    // https://playground.babylonjs.com/#WGZLGJ#11018

    scene = new BABYLON.Scene(engine);
    // Create a default skybox with an environment.
    const hdrTexture = BABYLON.CubeTexture.CreateFromPrefilteredData(
      "/static/glb/environment.dds",
      scene
    );
    const currentSkybox = scene.createDefaultSkybox(hdrTexture, true);

    let idsAdicionados = new Set();

    await BABYLON.AppendSceneAsync("/static/glb/projetoInterSala.glb", scene);

    await BABYLON.AppendSceneAsync("/static/glb/plantinha_3d.glb", scene);
    let nodes = scene.getNodes();
    for (let i = nodes.length - 1; i >= 0; i--) {
      const node = nodes[i];
      if (node.id == "__root__" && !idsAdicionados.has(node.uniqueId)) {
        objeto1 = node;
        idsAdicionados.add(node.uniqueId);
        break;
      }
    }

    await BABYLON.AppendSceneAsync("/static/glb/plantinha_3d.glb", scene);
    nodes = scene.getNodes();
    for (let i = nodes.length - 1; i >= 0; i--) {
      const node = nodes[i];
      if (node.id == "__root__" && !idsAdicionados.has(node.uniqueId)) {
        objeto2 = node;
        objeto2.translate(
          new BABYLON.Vector3(1, 0, 0),
          1,
          BABYLON.Space.GLOBAL
        );
        objeto2.setEnabled(false);
        idsAdicionados.add(node.uniqueId);
        break;
      }
    }

    scene.createDefaultCameraOrLight(true, true, true);
    const camera = scene.activeCamera;
    //camera.alpha = 3.8014; // Math.PI / 2;
    //camera.beta = 1.2256;
    camera.alpha = 3.6949941371093122;
    camera.beta = 1.4214854652301074;
    camera.radius = 100;
  }

  async function init() {
    try {
      engine = new BABYLON.Engine(canvas, true, {
        preserveDrawingBuffer: false,
        stencil: false,
        disableWebGL2Support: false,
      });
      await createScene();
    } catch (ex) {
      alert("Erro ao criar a engine: " + ex.message || ex.toString());
    }

    window.addEventListener("resize", function () {
      engine.resize();
    });

    //scene.debugLayer.show();

    let contador = 0;
    engine.runRenderLoop(function () {
      contador++;
      if (contador >= 30) {
        contador = 0;
        objeto1.setEnabled(!objeto1.isEnabled());
        objeto2.setEnabled(!objeto2.isEnabled());
      }

      if (scene && scene.activeCamera) {
        scene.render();
      }
    });
  }

  init();
</script>

{% endblock %}
