
{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid px-4 pg-about">


	<!-- Hero Section -->

	<div class="hero mb-5">
		<img src="static/img/AbsTECH.png" alt="Logo Absolut" class="mb-3" style="width: 150px;">
		<h1 class="display-5 fw-bold">Estudo Volumétrico de Presença</h1>
		<p class="lead">Tecnologia de sensores para ambientes acadêmicos mais inteligentes</p>
	</div>


	<!-- Sobre o Projeto -->

	<div class="row align-items-center mb-5 px-3 px-md-5">
		<div class="col-md-7">
			<h3 class="section-title text-md-start text-center mb-3">
				SOBRE O PROJETO
				<div style="width: 60px; height: 4px; background-color:rgb(254, 255, 239); margin-top: 6px; border-radius: 2px;">
				</div>
			</h3>
			<p class="lead text-md-start text-center mb-3">
				Criamos uma solução baseada em sensores para monitorar a presença em ambientes educacionais,
				permitindo decisões mais inteligentes sobre ocupação, conforto e aproveitamento de espaço.
			</p>
			<p class="text-md-start text-center">
				O estudo volumétrico de presença se concentra em capturar dados tridimensionais sobre a ocupação e
				movimentação
				de pessoas dentro de um ambiente. Utilizamos sensores avançados para mapear volumes físicos e detectar
				variações de densidade em tempo real.
			</p>
		</div>
		<div class="col-md-5 text-center">
			<img src="static/img/Techno.png" alt="Sensor Icon" style="max-width: 350px;" class="img-fluid">
		</div>
	</div>


	<!-- Quem Somos -->

	<section class="mb-5 d-flex justify-content-center">
		<div class="bg-light-custom px-4 py-4 rounded-4 shadow-sm text-center" style="max-width: 800px; width: 100%; border-radius: 32px; margin-bottom: 10px;">
			<h3 class="section-title mb-3">Quem Somos</h3>
			<p class="mb-0 mx-auto" style="max-width: 700px;">
				Equipe de estudantes da <strong>ESPM</strong>, em parceria com a <strong>Absolut Technologies</strong>, criando soluções tecnológicas para ambientes educacionais mais inteligentes.
			</p>
		</div>
	</section>


	<!-- Nossa Equipe -->

	<!--<div class="container-fluid px-4" style="background-image: url('static/img/background_equipe.gif'); background-size: 100%; background-position: center; border-radius: 12px; padding: 20px;">-->
	<div class="container-fluid" style="background-image: url('static/img/background_equipe.gif'); background-size: cover; background-position: center; padding: 40px 0px; margin-bottom: 0;">

		<h3 class="section-title">NOSSA EQUIPE</h3>
		<div class="row justify-content-center mb-5">

			<div class="col-6 col-md-2 mb-4 d-flex justify-content-center">
				<div class="card card-team text-center">
					<img src="static/img/perfil/fernando.jpg" alt="Fernando Sabella" class="team-img mx-auto">
					<p class="nomes fw-semibold mt-2">Fernando Sabella</p>
					<div class="row align-items-center justify-content-center gap-3 fs-4">
						<a href="https://www.linkedin.com/in/fernando-sabella-00742b30b/" target="_blank" class="text-dark me-3">
							<i class='bx bxl-linkedin-square icones'></i>
						</a>
						<a href="https://github.com/caicara29" target="_blank" class="text-dark">
							<i class='bx bxl-github icones'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-2 mb-4 d-flex justify-content-center">
				<div class="card card-team text-center">
					<img src="static/img/perfil/gabriel.jpeg" alt="Gabriel Prestes" class="team-img mx-auto">
					<p class=" nomes fw-semibold mt-2">Gabriel Prestes</p>
					<div class="row align-items-center justify-content-center gap-3 fs-4">
						<a href="https://www.linkedin.com/in/gabriel-prestes-moraes-cardoso-53b473250/" target="_blank" class="text-dark me-3">
							<i class='bx bxl-linkedin-square icones'></i>
						</a>
						<a href="https://github.com/gabrielpmcardoso" target="_blank" class="text-dark">
							<i class='bx bxl-github icones'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-2 mb-4 d-flex justify-content-center">
				<div class="card card-team text-center">
					<img src="static/img/perfil/henrique.jpeg" alt="Henrique Lecce" class="team-img mx-auto">
					<p class="nomes fw-semibold mt-2">Henrique Lecce</p>
					<div class="row align-items-center justify-content-center gap-3 fs-4">
						<a href="https://www.linkedin.com/in/henriquelecce/" target="_blank" class="text-dark me-3">
							<i class='bx bxl-linkedin-square icones'></i>
						</a>
						<a href="https://github.com/hqlcc" target="_blank" class="text-dark">
							<i class='bx bxl-github icones'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-2 mb-4 d-flex justify-content-center">
				<div class="card card-team text-center">
					<img src="static/img/perfil/isabelle.jpeg" alt="Isabelle Dib" class="team-img mx-auto">
					<p class="nomes fw-semibold mt-2">Isabelle Dib</p>
					<div class="row align-items-center justify-content-center gap-3 fs-4">
						<a href="https://www.linkedin.com/in/isabelle-dib/" target="_blank" class="text-dark me-3">
							<i class='bx bxl-linkedin-square icones'></i>
						</a>
						<a href="https://github.com/isa-dib" target="_blank" class="text-dark">
							<i class='bx bxl-github icones'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-2 mb-4 d-flex justify-content-center">
				<div class="card card-team text-center">
					<img src="static/img/perfil/joao.jpeg" alt="João Pedro Helbel" class="team-img mx-auto">
					<p class="nomes fw-semibold mt-2">João Helbel</p>
					<div class="row align-items-center justify-content-center gap-3 fs-4">
						<a href="https://www.linkedin.com/in/joaohelbel/" target="_blank" class="text-dark me-3">
							<i class='bx bxl-linkedin-square icones'></i>
						</a>
						<a href="https://github.com/joaohelbel" target="_blank" class="text-dark">
							<i class='bx bxl-github icones'></i>
						</a>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}